@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url('hero.png');
  background-repeat: no-repeat;
  background-size: cover;
}
